*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    height: 40vh;
    width: 60vw;
}
.box{
    background-color: blue;
    height: 30px;
    width: 70px;
    transition-property: transform, background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 2ms;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
    background-color: red;
}